zigzag-dse==3.8.2
rtree
deap
matplotlib
brokenaxes
plotly
pandas
cerberus
pre-commit
gurobipy
pydot
xdsl-aie @ git+https://github.com/xdslproject/xdsl-aie.git@811fe1252a7b1168cd9423f8324b5f35b01a911a
snax-mlir @ git+https://github.com/kuleuven-micas/snax-mlir.git@1c01c5d100df128c9fa01d3336ebea98e19b20cf
