zigzag-dse==3.8.0
rtree
deap
matplotlib
brokenaxes
plotly
pandas
cerberus
pre-commit
gurobipy
xdsl-aie @ git+https://github.com/xdslproject/xdsl-aie.git@6a84f7b1b8df4f330198f77a02022880f9100786
snax-mlir @ git+https://github.com/kuleuven-micas/snax-mlir.git@1c01c5d100df128c9fa01d3336ebea98e19b20cf
